<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>FAQs</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

<%- include navibar.ejs %>


<div class="container">
    <h1 class="header center teal-text text-lighten-2">FAQs</h1>
<ul class="collapsible" data-collapsible="expandable">


    <% var content={
        cat1: [
            {
                "question": "Question1",
                "answer": "Answer1"
            },
            {
                "question": "Question2",
                "answer": "Answer2"
            },
            {
                "question": "Question3",
                "answer": "Answer3"
            }
        ],
        cat2: [
            {
                "question": "Question1",
                "answer": "Answer1"
            },
            {
                "question": "Question2",
                "answer": "Answer2"
            },
            {
                "question": "Question3",
                "answer": "Answer3"
            }
        ]
    }

    %>

    <h5 class="header center black-text text-lighten-2">Category1</h5>
    <% for(var i=0; i<content.cat1.length; i++){%>
        <li>
            <div class="collapsible-header"><i class="material-icons">info_outline</i><%= content.cat1[i].question %></div>
            <div class="collapsible-body"><span><%= content.cat1[i].answer %></span></div>
        </li>
    <% } %>


    <h5 class="header center black-text text-lighten-2">Category2</h5>
    <% for(var i=0; i<content.cat2.length; i++){%>
    <li>
        <div class="collapsible-header"><i class="material-icons">info_outline</i><%= content.cat2[i].question %></div>
        <div class="collapsible-body"><span><%= content.cat2[i].answer %></span></div>
    </li>

    <% } %>



</ul>
</div>

<%- include foot.ejs %>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/initpara.js"></script>
</body>
</html>