<div id="mem<%= i %>" class="card" style="padding-left: 5%">

        <br>
        <div class="row">
            <div class="input-field col s3">
                <input name="fname<%= i %>" type="text" class="validate">
                <label for="fname<%= i %>">First Name<%= i %></label>
            </div>

            <div class="input-field col s3">
                <input name="lname<%= i %>" type="text" class="validate">
                <label for="lname<%= i %>">Last Name<%= i %></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <br><br>
                <input name="group<%= i %>" type="radio" value="Male" id="male<%= i %>" />
                <label for="male<%= i %>">Male<%= i %></label>

                <input name="group<%= i %>" type="radio" value="Female" id="fmale<%= i %>" />
                <label for="fmale<%= i %>">Female<%= i %></label>
                <label for="group<%= i %>">Gender<%= i %></label>
            </div>
        </div>

    <div class="row">
        <div class="input-field col s3">
            <br><br>
            <input type="date" name="dob<%= i %>">
            <label for="dob<%= i %>">Date Of Birth</label>
        </div>
    </div>


        <div class="row">
            <div class="input-field col s3">
                <input name="contact<%= i %>" type="number" class="validate">
                <label for="contact<%= i %>">Contact No<%= i %></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <input name="email<%= i %>" type="email" class="validate">
                <label for="email<%= i %>" data-error="Enter correct email address">Email<%= i %></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s5">
                <textarea name="addr<%= i %>" class="materialize-textarea"></textarea>
                <label for="addr<%= i %>">Address<%= i %></label>
            </div>
        </div>

    <div class="row">
        <div class="input-field col s3">
            <input name="qual<%= i %>" type="text" class="validate">
            <label for="qual<%= i %>">Qualification<%= i %></label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
            <input name="inst<%= i %>" type="text" class="validate">
            <label for="inst<%= i %>">Institution Name<%= i %></label>
            <br><br>
        </div>
    </div>
</div>
